.coin-container {

    
    display: flex;
    justify-content: center;
}

.coin-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
}

.coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.coin h1 {
    font-size: 16px;
    width: 150px;
}

.coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin-symbol {
    text-transform: uppercase;
}

.coin-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;    /*compulsory*/
}

.coin-price {
    width: 170px;
    min-width: 170px;
}

.coin-volume {
    width: 155px;
    margin-left: 20px;
}

.coin-percent {
    width: 100%;
}

.red {
    color: #fa0606;
}

.green {
    color: #53d608;
}